.Vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Vote h1 {
  text-align: center;
  margin-top: 20px;
}

.Vote img {
  margin: 0 auto;
  max-width: 360px;
  max-height: 720px;
  /* height: auto; */
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.Vote img:hover {
  box-shadow: 0 0 4px 4px #739aff;
}

.Vote div.battle {
  display: flex;
}

.Vote div.post {
  flex: 1;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 20px auto;
  margin: 20px auto;
  padding: 0 20px;
}

.Vote div.post>p {
  font-size: 16px;
  text-align: center;
}

.Vote button.getStarted {
  margin: 0 auto;
  border: none;
  background-image: linear-gradient(#54d7ff, #739aff);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 36px;
  margin-bottom: 40px;
}

.Vote button.submitVotes {
  margin: 0 auto;
  border: none;
  background-image: linear-gradient(#54d7ff, #739aff);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px 72px;
}

@media (max-width: 750px) {
  .Vote div.battle {
    flex-direction: column;
  }

  .Vote img {
    width: 100%;
  }
}
